---
const { label, link, variant, className } = Astro.props;

const getVariant = ():string => {
  switch(variant){
    // I know but is already used across the project
    case "primary":
      return "btn-primary";
    case "secondary":
      return "btn-secondary";
    case "tertiary":
      return "bg-red-500 text-white";
    default:
      return "btn-primary";
  }
}
---

<a
  href={link}
  class={`relative btn ${className} ${getVariant()} overflow-hidden group`}
>
  <span class="relative z-10">{label}</span>
  <div
    class={`absolute w-16 h-16 -left-16 -bottom-10 border-none rounded-full ${variant === "primary" ? "bg-light" : "bg-dark"} transition-all duration-[500ms] ease-in-out group-hover:w-[500%] group-hover:h-[500%]`}
  >
  </div>
</a>
