---
import { markdownify } from "@/lib/utils/textConverter";
import CustomButton from "../CustomButton.astro";
import { getEntry } from "astro:content";

const { call_to_action } = Astro.props;

const contact = await getEntry("contact", "-index");
const { connect } = contact.data;
---

<div class="container">
  <div class="px-5 py-10 lg:py-32 bg-theme-light rounded-xl">
    <div class="flex flex-col lg:flex-row-reverse gap-6 justify-around">
      <div class="col-12 lg:col-6 text-center">
        <h2
          class="pb-4 max-xl:h3"
          data-aos="fade-up-sm"
          data-aos-delay="100"
          set:html={markdownify(call_to_action.title)}
        />
        <p
          class="pb-8 text-dark/60"
          data-aos="fade-up-sm"
          data-aos-delay="200"
          set:html={markdownify(call_to_action.description)}
        />

        {
          call_to_action.button && (
            <CustomButton
              link={call_to_action.button.link}
              label={call_to_action.button.label}
              class="btn btn-primary"
              data-aos="fade-up-sm"
              data-aos-delay="300"
            />
          )
        }
      </div>
      <div
        class="col-12 lg:col-6 text-center rounded border-white border-4 p-4"
      >
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2850.194115296947!2d26.058465128527942!3d44.40866228921574!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1ff9ca3f78587%3A0xbc8b6c3166b08ed1!2sITP%20START%20SERVICE%20SRL!5e0!3m2!1sro!2sro!4v1737283598744!5m2!1sro!2sro"
          width="100%"
          height="450"
          style="border:0; border-radius: 6px;"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
</div>
